@import "variables.css";
@import "layout.css";
@import "components.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    font: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-txt);
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font: var(--font-header);
}

#form {
  font: var(--font-labels);
}

#menu {
  width: 100%;
  text-align: center;
  font: var(--font-labels);
  margin-bottom: 35px;
}